@import "../../../assets/styles/palette.scss";

.List {
  min-width: 200px;
  max-width: 200px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
  background-color: $colorGray3;
  margin: 5px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .List-title {
    padding: 5px 10px;
  }
  .List-items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .List-footer {
    padding: 5px 10px;
    font-size: 0.8rem;
    .List-add-item {
      background-color: $colorB5;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}

.shadow {
  opacity: 0.3;
}
