@import "../../../assets/styles/palette.scss";

.Item-list {
  display: flex;
  margin: 5px 5px;
  border-radius: 5px;
  border: 2px solid $colorGray3;
  height: 50px;
  background-color: $colorGray2;
  font-size: 0.8rem;
  .Item-textarea {
    width: 100%;
    height: 50px;
    background-color: $colorGray1;
    text-align: left;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 2px;
  }
  .Item-text.show {
    width: 100%;
    height: 50px;
    text-align: left;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 2px;
    cursor: pointer;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

textarea {
  all: unset;
}

