@import "../../assets/styles/palette.scss";

.Navbar {
  background-color: $colorB4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3vh;
  height: 3vh;
  align-items: center;
  div {
    margin-right: 20px;
  }
  .Navbar-title {
    font-size: 1.5rem;
  }
  .Navbar-actions {
    .button {
      background-color: $colorB5;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
