/* Colors backgrounds */
$colorB1: #2955d9;
$colorB2: #3068d9;
$colorB3: #367dd9;
$colorB4: #82b8d9;
$colorB5: #448c30;
// Gray colors
$colorGray1: #f2f2f2;
$colorGray2: #d9d9d9;
$colorGray3: #bfbfbf;
$colorGray4: #a6a6a6;
$colorGray5: #8c8c8c;

/* Colors text */
$colorT1: #fff;
$colorT2: #000;
$colorT3: #172b4d;
