/* Colors backgrounds */
$colorB1: #2955d9;
$colorB2: #3068d9;
$colorB3: #367dd9;
$colorB4: #82b8d9;
$colorB5: #448c30;
// Gray colors
$colorGray1: #F2F2F2;
$colorGray2: #D9D9D9;
$colorGray3: #BFBFBF;
$colorGray4: #A6A6A6;
$colorGray5: #8C8C8C;

/* Colors text */
$colorT1: #fff;
$colort2: #000;

